@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;

}

body{
    font-family: 'poppins',sans-serif;
    color:var(--primary-text-color);
}

h1{
    font-size:3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size:1.5rem;
}

p{
    font-family: 'Roboto',sans-serif;
    font-size:1.25rem;
    color:var(--secondary-text-color);
    line-height: 1.8frem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

/* utility */

.container{
    max-width:1180px;
    margin-inline:auto;
    padding-inline:var(--padding-inline-section);
    overflow:hidden;

}

.flex{
    display: flex;
    align-items: center;
}

.small-bolod-text{
    font-size:1rem;
    font-weight:700;
}

.hover-link{
    color:var(--primary-text-color);
}

.hover-link:hover{
    color:var(--accent-color);
    transition: 0.2s ease-out;
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 545;
    color:white!important;
    padding:12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;
}

.primary-button:hover{
    background-color: var(--accent-color-dark);
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight:545;
    color:var(--primary-text-color)!important;
    padding:12px 24px;
    transition:0.2s ease-out;
}

.secondary-button:hover{
    border-color: var(--accent-color);
    color:var(--accent-color)!important;
}

/* banner section */

.banner-sec{
    background-color: #4fb3d4;
    
}

.banner-sec{
    text-align: center;
    color: white;
    padding:15px 30px;
}

/* navigation section */

.nav-section{
    justify-content: space-between;
    margin-block: 20px;
    position: relative;

}
.left-side img{
    height:39px;
}

.nav-list{
    gap:40px;
}

.hambur{
    display: none;
}

/* header section */

.header-section{
    margin-block: 50px;
    justify-content: center;
    gap:50px;
    margin-block: 50px;
}

.left-container{
    max-width:40vw;
}

.left-container h1{
    margin-block: 20px;
    
}

.left-container p{
    line-height: 1.8rem;
}

.left-container a{
    margin-block:20px;
}

.right-container img{
    width: 100%;
}

/* company section */

.company-con{
    margin-bottom:80px;
}
.company-text{
    color: var(--primary-text-color);
    text-align: center;
    margin-block:30px;
    
}


.company-text p{
    font-size: 1.1rem;
}

.company-logo{
    justify-content: space-evenly;
    gap:15px;
    flex-wrap: wrap;
}

.company-logo img{
    height: 40px;
}

/* feature section */

.feature-sec{
    margin-bottom: 100px;
}
.top-feature-sec{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:20px;
    margin-block:20px;
}

.bottom-feature-sec{
    flex-wrap: wrap;
    justify-content: space-between;
    gap:30px;
}
.card{
    flex-direction: column;
    width: 30%;
    gap: 15px;
    text-align: center;
}

/* big feature section  */

.big-feature{
    gap:20px;
}

.left-big img{

    height: 400px;
}

.right-big{
   
    flex-direction: column;
    align-items: flex-start;
    gap:5px;
}

.inception{
    flex-direction: row-reverse;
}

/* example section */

.top-example{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:20px;
    margin-block:20px;
}
.bottom-example{
    justify-content: space-between;
    margin-block:30px;
    flex-wrap: wrap;
}

.example-card{
    width: 23%;
    position:relative;
    height: 300px;
    background: black;
    background: linear-gradient(rgb(0, 0, 0,0.1), rgb(0,0,0,0.8)), url(assets/asset\ 37.jpeg);
    background-size: cover;
    transition: 0.2s ease-out;
}

.example-card:hover{
    box-shadow: 0 0 10px #888;
}

.example-card_2{
    width: 23%;
    position:relative;
    height: 300px;
    background: black;
    background: linear-gradient(rgb(0, 0, 0,0.1), rgb(0,0,0,0.8)), url(assets/asset\ 36.jpeg);
    background-size: cover;
    transition: 0.2s ease-out;
}

.example-card:hover{
    box-shadow: 0 0 10px #888;
}

.example-card_3{
    width: 23%;
    position:relative;
    height: 300px;
    background: black;
    background: linear-gradient(rgb(0, 0, 0,0.1), rgb(0,0,0,0.8)), url(assets/asset\ 37.jpeg);
    background-size: cover;
    transition: 0.2s ease-out;
}

.example-card:hover{
    box-shadow: 0 0 10px #888;
}

.example-card_4{
    width: 23%;
    position:relative;
    height: 300px;
    background: black;
    background: linear-gradient(rgb(0, 0, 0,0.1), rgb(0,0,0,0.8)), url(assets/asset\ 38.jpeg);
    background-size: cover;
    transition: 0.2s ease-out;
}

.example-card:hover{
    box-shadow: 0 0 10px #888;
}

.card-text{
    position: absolute;
    bottom:20px;
    left:20px;
    right: 20px;
    color: white;
    font-size: 1.2rem;
}

/* cta section */

.cta-section{
    background-color: #183b54;
    padding: 120px var(--padding-inline-section);
}

.cta{
    flex-direction: column;
    gap:30px;
    color:#ffff;
    text-align: center;
    align-items: center;
}
.cta h3{
    margin-bottom: 20px;
}
.cta p{
    color:#ffff;
}

/* footer section */

.footer-sec{
    justify-content: space-between;
    margin-block:40px;
}

/* sub footer section */

.sub-footer-section{
    background-color: #b9cde4;
    padding: 10px;
}
.sub-footer{
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
    font-size: 14px;
}


.frist-footer-section img{

    height: 35px;
    position: relative;
    bottom: 80px;
    
}
.bottom-ul{
    flex-direction: column;
    gap: 15px;
}

.bottom-ul li h4{
    font-size: 1.1rem;;
}


